.game-area{
  position: relative;
  margin: 50px auto;
  max-width: 600px;
  max-height:600px;
  width: 80vw;
  height: 80vh;
  border: 2px solid #000;
}

.snake-dot{
  position: absolute;
  width: 2%;
  height: 2%;
  background-color: #000;
  border: 1px solid #fff;
  z-index: 9;
}

.snake-food{
  position: absolute;
  width: 2%;
  height: 2%;
  background-color: chartreuse;
  border: 1px solid #fff;
  z-index: 2;
}
